body { 
    padding:0px 0px 0px 0px;
    z-index:0;
    font-family: Noto Serif SC, Bodomi MT, Times New Roman, serif;
    background-color: black;
}

.navbar-dark {
    background-color: black;
    border-top: solid;
    border-bottom: solid;
    border-color: gold;
    z-index:10;
}

.navbar-collapse {
    font-size: 1.2rem;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.logoNavbar {
    height: 40px;
    width: 180px;
}

.dropdown-menu {
    font-size: 1.2rem;
    background-color: black;
}

.dropdown-item, .dropdown-item:hover {
    background-color: black;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: gold;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: black;
}

#main {
    background-color: #505652;
}

#homeCarousel {
    padding: 1rem;
    z-index: 5;
}

.row-content {
    margin:0px auto;
    padding: 30px 0px 30px 0px;
    border-top: 1px solid;
    min-height:200px;
}

.breadcrumb {
    margin: 10px 0px 10px 0px;
    background-color: black;
    font-size: 1.4rem;
}

p, h2, h4, h5, .col-form-label {
    color: white;
}

h2 {
    font-weight: bold;
}

h3 {
    color: gold;
}

h5 {
    font-style: italic; 
}

.img-thumbnail {
    max-height: 230px;
}

#scrollButton {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px 20px 70px 20px;
    height: 60px;
    width: 60px;
    background-color: gold;
    z-index:10;
}

.footer {
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    color: white;
    background-color: black;
}

.footerLink {
    color: grey;
}

.footerLink:hover, .addressLink:hover {
    color: gold;
    text-decoration: none;
}

.addressContact {
    color: white;
    font-size: 1.2rem;
}

.addressLink {
    color: white;
}

.iFrameResponsive {
    width: 100%;
}

.submitButton {
    background-color: gold;
    font-weight: bold;
}

h5 {
    margin-top: 1.5rem;
}

@media (max-width: 767px) {

    #calendarDesktop {
        display: none;
    }

    #calendarMobile {
        display: block;
    }
}

@media (min-width: 768px) {
    
    #calendarDesktop {
        display: block;
    }

    #calendarMobile {
        display: none;
    }
}