body { 
    padding:0px 0px 0px 0px;
    z-index:0;
    font-family: Noto Serif SC, Bodomi MT, Times New Roman, serif;
    background-color: black;
}

.navbar-dark {
    background-color: black;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.logoNavbar {
    height: 40px;
    width: 180px;
}

.dropdown-menu {
    background-color: black;
}

.dropdown-item, .dropdown-item:hover {
    background-color: black;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: gold;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: green;
    color: black;
}

.footer {
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    color: white;
    background-color: black;
}

.footer hr {
    color: white;
}

.footerLink {
    color: grey;
}

.footerLink:hover {
    color: gold;
    text-decoration: none;
}

h5 {
    margin-top: 1.5rem;
}