body{ 
    padding:0px 0px 0px 0px;
    z-index:0;
    font-family: Noto Serif SC, Bodomi MT, Times New Roman, serif;
}

.navbar-dark {
    background-color: black;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.logoNavbar {
    height: 40px;
    width: 180px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: green;
    color: black;
}

.footer{
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    background-color: grey;
}